header, footer 
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}
form 
{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}